#filler
{
text-align:center;
vertical-align: middle;
line-height: 100px; 
width:100px;
height:100px;
background:red;
position:relative;
-webkit-animation:myfirst 5s linear 2s infinite alternate; /* Chrome, Safari, Opera */
animation:myfirst 5s linear 2s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
0%   {background:red; left:0px; top:0px;}
25%  {background:yellow; left:100px; top:0px;}
50%  {background:blue; left:100px; top:100px;}
75%  {background:green; left:0px; top:100px;}
100% {background:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst
{
0%   {background:red; left:0px; top:0px;}
25%  {background:yellow; left:100px; top:0px;}
50%  {background:blue; left:100px; top:100px;}
75%  {background:green; left:0px; top:100px;}
100% {background:red; left:0px; top:0px;}
}